.LightOrangeBackground {
    background-color: orange;
}

.backgroundHeight {
    background-color: darkorange;
}

.equippedHeight {
    position: relative;
    height: 400px;
}

    .equippedHeight > div > div {
        border: 1px solid;
    }

.helmet {
    position: absolute;
    left: 45%;
    top: 5%;
}

.weapon {
    position: absolute;
    left: 20%;
    top: 25%;
}

.chest {
    position: absolute;
    left: 45%;
    top: 25%;
}

.offHand {
    position: absolute;
    left: 70%;
    top: 25%;
}

.wrist {
    position: absolute;
    left: 20%;
    top: 45%;
}

.boots {
    position: absolute;
    left: 45%;
    top: 45%;
}

.special {
    position: absolute;
    left: 70%;
    top: 45%;
}

a.itemTooltip {
    outline: none;
}

    a.itemTooltip strong {
        line-height: 30px;
    }

    a.itemTooltip:hover {
        text-decoration: none;
    }

    a.itemTooltip span {
        z-index: 10;
        display: none;
        padding: 14px 20px;
        margin-top: -80px;
        margin-left: 78px;
        width: 300px;
        line-height: 16px;
    }

    a.itemTooltip:hover span {
        display: inline;
        position: absolute;
        color: #111;
        border: 1px solid #DCA;
        background: #fffAF0;
    }

.callout {
    z-index: 20;
    position: absolute;
    top: 30px;
    border: 0;
    left: -12px;
}

/*CSS3 extras*/
a.itemTooltip span {
    border-radius: 4px;
    box-shadow: 5px 5px 8px #CCC;
}

.inventoryShadow {
  -webkit-box-shadow: 0px 7px 4px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 7px 4px 0px rgba(0,0,0,0.75);
box-shadow: 0px 7px 4px 0px rgba(0,0,0,0.75);
}



    .nav-tabs > li > a {
       -webkit-box-shadow: inset 0px -24px 30px -16px rgba(0,0,0,0.72);
-moz-box-shadow: inset 0px -24px 30px -16px rgba(0,0,0,0.72);
box-shadow: inset 0px -24px 30px -16px rgba(0,0,0,0.72);
    margin-right: 15px;
    }
.nav-tabs > li.active > a {
    -webkit-box-shadow: inset 0px 24px 30px -16px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 24px 30px -16px rgba(0,0,0,0.75);
box-shadow: inset 0px 24px 30px -16px rgba(0,0,0,0.75);
}
.nav-tabs >li:first-child{
    margin-left:-15px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    border:0;
    border-bottom:3px solid transparent;
}
.nav-tabs{
    border:0;
}