<div class="row LightOrangeBackground" ng-show="battleStart">
    <div class="col-xs-12">
        <h3>Battle</h3>
        <button class="btn btn-default" ng-click="toggleBattleStart(); currentMap[previousMap] = true;">Back(for testing)</button>
        <h3 class="text-center">{{currentArea}}</h3>
        <div class="text-center">
            <button class="btn btn-default" ng-click="battle()">Fight</button>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="pull-left">
                    <p>Player name</p>
                    <p>Level{{player.level}}</p>
                    <p>hp:{{player.health.value}}/{{player.maxHealth.value}}</p>
                </div>
                <div class="pull-right">
                    <p>{{currentEnemy.name}}</p>
                    <p>Level{{currentEnemy.level}}</p>
                    <p>hp:{{currentEnemy.hp}}/{{currentEnemy.maxHp}}</p>
                </div>
            </div>
        </div>
    </div>
</div>