<div class="row LightOrangeBackground">
    <div class="col-xs-12 inventoryShadow">
        <div class="row">
            <!--"Active" heroes list with images, they work like tabs-->
            Click on images below to open their own inventory and stat panel<br />
            <div class="col-xs-2" ng-repeat="(i, value) in player.team">

                <img ng-src="../Images/avatars/{{player.team[i].name}}.png" ng-click="player.currentTeamTab = i" />

            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                {{player.team[player.currentTeamTab].name}}
                <p ng-repeat="(key, value) in player.team[player.currentTeamTab].totalStats.primary">
                    <span class="glyphicon glyphicon glyphicon-question-sign" aria-hidden="true" uib-popover="{{key}}"
                          popover-trigger="mouseenter"></span>
                    <img ng-src="Images/stats/{{key}}.png" uib-popover="{{key}}" popover-trigger="mouseenter" />
                    <span> :{{value}}</span>
                </p>

            </div>
            <div class="col-xs-4 col-xs-offset-1 equippedHeight border">

                <div ng-repeat="(key, item) in player.team[player.currentTeamTab].equippedItems">
                    <div ng-class="key">
                        <!-- Item tooltip -->
                        <a href="#" class="itemTooltip">
                            <img ng-src="Images/items/{{item.image}}" ng-if="item.isEquipped" ng-click="player.unequip(item.itemType)" />
                            <span>
                                <img class="callout" src="/Images/callout.gif" />
                                <strong>{{item.name}}</strong><br />
                                Primary Stat:<br /> <br />
                                <p ng-repeat="(i, value) in item.stats.primary track by $index">
                                    {{i}}: + {{value}}
                                </p>
                                <br />Secondary Stat <br /> <br />
                                <p ng-repeat="(i, value) in item.stats.secondary track by $index">
                                    {{i}}: + {{value}}
                                </p>
                            </span>
                        </a>
                    </div>

                </div>

            </div>
            <div class="col-xs-3">
                <p ng-repeat="(key, value) in player.team[player.currentTeamTab].totalStats.secondary">
                    <span class="glyphicon glyphicon glyphicon-question-sign" aria-hidden="true" uib-popover="{{key}}"
                          popover-trigger="mouseenter"></span>
                    <img ng-src="Images/stats/{{key}}.png" uib-popover="{{key}}" popover-trigger="mouseenter" />
                    <span> :{{value}}</span>
                </p>
            </div>
        </div>
    </div>
</div>
