<div class="row stats">
    <div class="col-xs-12">
        
<div class="row" ng-class="{on:!gameMenu.loadingScreen.state}">
    <div class="col-xs-12">
        <p class="text-center">Character Level</p>
    </div>
</div>

<div class="row">
    <div class="col-xs-4 border">
        <p>Base stats</p>
    </div>
    <div class="col-xs-4 inventory border">
        Inventory
        <div class="row">
        <div class="helmet">Helmet</div>
        <div class="weapon">Weapon</div>
        <div class="chest">Chest</div>
        <div class="boots">Boots</div>
            </div>
    </div>
    <div class="col-xs-4 border">
        Secondary stats
    </div>
</div>

<div class="row">
    <div class="col-xs-12 border">
        Gold/dragon balls/etc.
    </div>
</div>
    </div>
</div>